.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar input {
    position: absolute;
    top: 12px;
    left: 900px;
}

section1 {
    position: absolute;
    top: 1px;
    left: 1066px;
    color: linen;
}

section2 {
    position: absolute;
    left: 360px;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

input {
    position: relative;
    top: -3px;
}

footer {
    position: relative;
    top: 110px;
    text-align: center;
    text-align: bottom;
    ;
}

footer a {
    color: rgb(7, 7, 7);
}

body {
    background-color: rgb(6, 32, 58)
}

header {
    position: relative;
    top: -20px;
    color: darkblue;
    background-color: gold;
}

aside {
    position: absolute;
    top: 140px;
    right: 15px;
    ;
    width: 30%;
    padding-left: 10px;
    margin-left: 10px;
    font-style: italic;
    background-color: lightgray;
}

aside1 {
    position: absolute;
    top: 208px;
    left: 816px;
}

aside2 {
    position: absolute;
    top: 311px;
    left: 816px;
}

aside3 {
    position: absolute;
    top: 413px;
    left: 816px;
}

aside4 {
    position: absolute;
    top: 515px;
    left: 816px;
}

article {
    position: absolute;
    top: 143px;
    right: 15px;
    ;
    width: 30%;
    padding-left: 10px;
    margin-left: 10px;
    font-style: italic;
    background-color: rgb(39, 41, 39);
}

article a {
    color: blanchedalmond;
}

article1 {
    position: absolute;
    top: 208px;
    left: 816px;
}

article2 {
    position: absolute;
    top: 311px;
    left: 816px;
}

article3 {
    position: absolute;
    top: 413px;
    left: 816px;
}

article4 {
    position: absolute;
    top: 515px;
    left: 816px;
}

p3 {
    position: relative;
    top: -34px;
    left: 180px;
}

p2 {
    position: relative;
    top: -34px;
    left: 230px;
}

p4 {
    position: relative;
    top: -34px;
    left: 280px;
}

p5 {
    position: relative;
    top: -34px;
    left: 175px;
}

p6 {
    position: relative;
    top: -34px;
    left: 210px;
}

p7 {
    position: relative;
    top: -34px;
    left: 295px;
}

h1 {
    position: relative;
    top: -30px;
    text-align: center;
    color: blanchedalmond;
    font-style: oblique;
}

img {
    position: relative;
    left: 40px;
}

p {
    font-weight: 100;
    position: relative;
    left: 40px;
}

p a {
    color: blanchedalmond;
}

article50 {
    position: relative;
    top: 80px;
    left: 890px;
}

section8 a {
    color: rgb(248, 244, 244);
}

section40 {
    position: relative;
    left: 120px;
}

section41 {
    position: relative;
    left: 240px;
}

section42 {
    position: relative;
    left: 360px;
}

section43 {
    position: relative;
    left: 480px;
}

section44 {
    position: relative;
    left: 600px;
    color: aqua;
}

section39 {
    position: relative;
    top: 50px;
}

section39 a {
    color: rgb(12, 141, 29);
}