.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar input {
    position: absolute;
    top: 12px;
    left: 900px;
}

section1 {
    position: absolute;
    top: 1px;
    left: 1066px;
    color: linen;
}

section2 {
    position: absolute;
    left: 360px;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

input {
    position: relative;
    top: -3px;
}

footer {
    text-align: center;
    text-align: bottom;
    ;
    color: darkblue;
}

footer a {
    color: rgb(7, 7, 7);
}

body {
    background-color: rgb(6, 32, 58)
}

header {
    position: relative;
    top: -20px;
    color: darkblue;
    background-color: gold;
}

aside {
    position: absolute;
    top: 140px;
    right: 15px;
    ;
    width: 30%;
    padding-left: 10px;
    margin-left: 10px;
    font-style: italic;
    background-color: lightgray;
}

aside1 {
    position: absolute;
    top: 208px;
    left: 816px;
}

aside2 {
    position: absolute;
    top: 311px;
    left: 816px;
}

aside3 {
    position: absolute;
    top: 413px;
    left: 816px;
}

aside4 {
    position: absolute;
    top: 515px;
    left: 816px;
}

article {
    position: relative;
    top: 0px;
    width: 49%;
    padding-left: 20px;
    margin-left: 30px;
    font-style: italic;
    background-color: rgb(39, 41, 39);
}

h1 {
    position: relative;
    bottom: 0px;
    color: rgb(248, 244, 244);
}

img {
    position: relative;
    left: 40px;
}

h5 {
    text-align: center;
}

article p2 {
    position: relative;
    top: 30px;
    left: 0px;
    color: rgb(248, 244, 244);
}

article p3 {
    position: relative;
    top: 60px;
    left: 0px;
    color: rgb(248, 244, 244);
}

article p4 {
    position: relative;
    top: 90px;
    left: 0px;
    color: rgb(248, 244, 244);
}

article p5 {
    position: relative;
    top: 135px;
    left: 0px;
    color: rgb(248, 244, 244);
}

article p6 {
    position: relative;
    top: 180px;
    left: 0px;
    color: rgb(248, 244, 244);
}

article p7 {
    position: relative;
    top: -172px;
    left: 350px;
    color: rgb(248, 244, 244);
}

article p8 {
    position: relative;
    top: -142px;
    left: 350px;
    color: rgb(248, 244, 244);
}

article p9 {
    position: relative;
    top: -108px;
    left: 350px;
    color: rgb(248, 244, 244);
}

article p10 {
    position: relative;
    top: -62px;
    left: 350px;
    color: rgb(248, 244, 244);
}

article p11 {
    position: relative;
    top: -20px;
    left: 350px;
    color: rgb(248, 244, 244);
}

article p12 {
    position: relative;
    top: 01px;
    left: 0px;
    background-color: lawngreen;
}

p1 {
    color: rgb(248, 244, 244);
}

section8 {
    position: relative;
    bottom: -750px;
}

article1 {
    position: absolute;
    top: 130px;
    left: 955px;
}

article2 {
    position: absolute;
    top: 130px;
    left: 800px;
}

article3 {
    position: absolute;
    top: 390px;
    left: 800px;
}

article4 {
    position: absolute;
    top: 600px;
    left: 800px;
}

section39 {
    position: relative;
    top: 50px;
}

section39 a {
    color: rgb(12, 141, 29);
}