.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar input {
    position: absolute;
    top: 12px;
    left: 900px;
}

section1 {
    position: absolute;
    top: 1px;
    left: 1066px;
    color: linen;
}

section2 {
    position: absolute;
    left: 360px;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

input {
    position: relative;
    top: -3px;
}

body {
    background-color: rgb(6, 32, 58)
}

header {
    position: relative;
    top: -20px;
    color: darkblue;
    background-color: gold;
}

p100 a {
    position: absolute;
    top: 890px;
    left: 420px;
    color: rgb(7, 7, 7);
}

article {
    position: absolute;
    top: 143px;
    right: 15px;
    ;
    width: 30%;
    padding-left: 10px;
    margin-left: 10px;
    font-style: italic;
    background-color: rgb(39, 41, 39);
}

article a {
    color: blanchedalmond;
}

article1 {
    position: absolute;
    top: 200px;
    right: 448px;
}

article2 {
    position: absolute;
    top: 308px;
    right: 448px;
}

article3 {
    position: absolute;
    top: 418px;
    right: 448px;
}

article4 {
    position: absolute;
    top: 528px;
    right: 448px;
}

article50 {
    position: relative;
    top: 430px;
    left: 870px;
}

section39 {
    position: relative;
    top: 400px;
    left: -270px;
}

section39 a {
    color: rgb(12, 141, 29);
}

section40 {
    position: relative;
    left: 230px;
}

section41 {
    position: relative;
    left: 280px;
}

section42 {
    position: relative;
    left: 330px;
}

section43 {
    position: relative;
    left: 380px;
}

section44 {
    position: relative;
    left: 430px;
}