.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar input {
    position: absolute;
    top: 12px;
    left: 900px;
}

section1 {
    position: absolute;
    top: 1px;
    left: 1066px;
    color: linen;
}

section2 {
    position: absolute;
    left: 360px;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

input {
    position: relative;
    top: -3px;
}

p100 a {
    position: absolute;
    top: 890px;
    left: 420px;
    color: rgb(7, 7, 7);
}

body {
    background-color: rgb(6, 32, 58)
}

header {
    position: relative;
    top: -20px;
    color: darkblue;
    background-color: gold;
}

h5 a2 {
    color: lightslategray;
}

h5 a {
    color: lime;
}

aside {
    position: absolute;
    top: 140px;
    right: 15px;
    ;
    width: 30%;
    padding-left: 10px;
    margin-left: 10px;
    font-style: italic;
    background-color: lightgray;
}

aside1 {
    position: absolute;
    top: 208px;
    left: 816px;
}

aside2 {
    position: absolute;
    top: 311px;
    left: 816px;
}

aside3 {
    position: absolute;
    top: 413px;
    left: 816px;
}

aside4 {
    position: absolute;
    top: 515px;
    left: 816px;
}

p3 {
    position: relative;
    top: -34px;
    left: 180px;
}

p2 {
    position: relative;
    top: -34px;
    left: 230px;
}

p4 {
    position: relative;
    top: -34px;
    left: 280px;
}

p5 {
    position: relative;
    top: -34px;
    left: 175px;
}

p6 {
    position: relative;
    top: -34px;
    left: 210px;
}

p7 {
    position: relative;
    top: -34px;
    left: 295px;
}

h1 {
    position: relative;
    bottom: 15px;
    color: rgb(248, 244, 244);
}

h2 {
    color: rgb(236, 232, 232);
}

img {
    position: relative;
    left: 40px;
}

p {
    font-weight: 100;
    position: relative;
    left: 40px;
}

h5 {
    text-align: center;
}

article {
    position: absolute;
    top: 143px;
    right: 15px;
    ;
    width: 30%;
    padding-left: 10px;
    margin-left: 10px;
    font-style: italic;
    background-color: rgb(39, 41, 39);
}

section button {
    color: seashell;
    font-style: oblique;
    background-color: rgb(40, 44, 42);
}

section30 {
    color: rgb(236, 232, 232);
}

section39 {
    position: relative;
    top: 50px;
}

section39 a {
    color: rgb(12, 141, 29);
}